
@model int

<input type="text" class="form-control" id="completeUrl" placeholder="Paste your url" />
<button class="btn btn-primary" id="url-btn" data-url-id="@Model">Submit</button>

@*<h3 style="display:none;" id="shortUrl"></h3>*@
<input type="text" class="form-control" id="shortUrl" disabled />
<a href="https://localhost:44355/hash/"></a>


@section scripts{

    <script src="~/js/index.js"></script>
}