
@model int

<input type="text" class="form-control" id="completeUrl" placeholder="Paste your url" />
<button class="btn btn-primary" id="url-btn" data-url-id="@Model">Submit</button>

<input type="text" class="form-control" id="shortUrl" disabled />

@*<h4>To use the shortened url enter:https://localhost:44355/hash/SHORTENEDURL </h4>*@

@section scripts{

    <script src="~/js/index.js"></script>
}